@{
    Layout = "_Layout";
    ViewData["Title"] = "Чат";
}
@using static EscapeFromTarkov.Controllers.HomeController;
@model PrivateAccModel
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
<section>
    <form asp-action="Chat" method="post">
        <div class="grid-main">
            <nav class="menu">
                <ul>
                    <a asp-action="MainWindow">Об игре</a>
                    <a asp-action="PrivateAcc">Личный кабинет</a>
                    <a asp-action="Bosses">Боссы</a>
                    <a asp-action="Cards">Карты</a>
                    <a asp-action="NPS">НПС</a>
                    <a asp-action="Weapon">Оружие</a>
                    <a asp-action="ChatBot">Бот-помощник</a>
                    <a asp-action="Chat">Чат</a>
                </ul>
            </nav>
            <div class="main-container-bot">
                <div class="chat-container">
                    <div class="user-filters" id="user-filters">
                        <div class="user-filter justify-content-center">
                            <select id="user-filter-select">
                                <option value="">Все карты</option>
                                @foreach (var card in Model.Cards)
                                {
                                    <option value="@card.Наименование">@card.Наименование</option>
                                }
                            </select>
                        </div>
                        <div class="user-filter">
                            <label for="minsurvivals">Выживания:</label>
                            <input type="number" id="minsurvivals" value="0" min="0">
                        </div>
                        <div class="user-filter">
                            <label for="mindeaths">Смерти:</label>
                            <input type="number" id="mindeaths" value="0" min="0">
                        </div>
                        <div class="user-filter">
                            <label for="minmissing">Пропавшие без вести:</label>
                            <input type="number" id="minmissing" value="0" min="0">
                        </div>
                        <div class="user-filter">
                            <label for="minraids">Рейды:</label>
                            <input type="number" id="minraids" value="0" min="0">
                        </div>
                        <div class="user-filter">
                            <label for="minkills">Убийства:</label>
                            <input type="number" id="minkills" value="0" min="0">
                        </div>
                        <div class="user-filter">
                            <label for="minkillscvk">Убийства для ЧВК:</label>
                            <input type="number" id="minkillscvk" value="0" min="0">
                        </div>
                        <div class="user-filter justify-content-center">
                            <button id="find-button" type="submit" action="ChatFilt">Найти</button>
                        </div>
                    </div>
                    <div class="user-container">
                        <div class="user-list">
                            <ul id="user-list">
                                @foreach (var user in Model.Users)
                                {
                                    <li data-login="@user.Логин" data-survivals="@user.Выживания" data-deaths="@user.Смерти" data-missing="@user.ПотерянБезвести" data-raids="@user.КоличествоРейдов" data-kills="@user.Убийства" data-kills-cvk="@user.УбийстваЧвк">@user.Логин</li>
                                }
                            </ul>
                        </div>
                        <div class="user-info">
                            <p>Выживания: <span id="user-survivals"></span></p>
                            <p>Смерти: <span id="user-deaths"></span></p>
                            <p>Потерян без вести: <span id="user-missing"></span></p>
                            <p>Количество рейдов: <span id="user-raids"></span></p>
                            <p>Убийства: <span id="user-kills"></span></p>
                            <p>Убийства для ЧВК: <span id="user-kills-cvk"></span></p>
                            <button id="toggle-btn">Открыть/Закрыть</button>
                        </div>
                    </div>
                    <div class="chat">
                        <div class="chat-messages">
                        </div>
                        <div class="chat-input">
                            <input type="text" placeholder="Type your message..." id="chat-input">
                            <button id="send-button"><i class="fas fa-paper-plane"></i> Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*<script src="~/js/chat.js"></script>*@
@*<script>
    document.getElementById('find-button').addEventListener('click', function () {
        // Получение значений из фильтров
        var minsurvivals = document.getElementById('minsurvivals').textContent;
        var mindeaths = document.getElementById('mindeaths').value;
        var minmissing = document.getElementById('minmissing').value;
        var minraids = document.getElementById('minraids').value;
        var minkills = document.getElementById('minkills').value;
        var minkillscvk = document.getElementById('minkillscvk').value;

        // Отправка AJAX-запроса
        $.ajax({
            url: '@Url.Action("Chat", "Home")',
            type: 'GET',
            data: {
                minsurvivals: minsurvivals,
                mindeaths: mindeaths,
                minmissing: minmissing,
                minraids: minraids,
                minkills: minkills,
                minkillscvk: minkillscvk
            },
            success: function (data) {
                const user_list = $('#user-list');
                user_list.empty(); // Очищаем список пользователей перед добавлением новых

                // Добавляем новых пользователей в список
                data.Users.forEach(user => {
                    const li = $('<li>').text(user.логин);
                    user_list.append(li);
                });
            },
            error: function (xhr, status, error) {
                console.log('Произошла ошибка: ' + error);
            }
        });
    });
</script>*@