@{
    Layout = "_Layout";
    ViewData["Title"] = "Личный кабинет";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Пользователь
<section>
        <div class="grid-main">
            <nav class="menu">
                <ul>
                    <a asp-action="MainWindow">Об игре</a>
                    <a asp-action="PrivateAcc">Личный кабинет</a>
                    <a asp-action="Bosses">Боссы</a>
                    <a asp-action="Cards">Карты</a>
                    <a asp-action="NPS">НПС</a>
                    <a asp-action="ChatBot">Бот-помощник</a>
                    <a asp-action="Chat">Чат</a>
                </ul>
            </nav>
            <form asp-action="PrivateAcc" method="post" enctype="multipart/form-data">
            <div class="main-container-privateacc">
                <div class="main-grid-item">Личный кабинет</div>
                <div class="text-item" style="grid-row:2;">Логин</div>
                <div class="text-item" style="grid-row:3;">Пароль</div>
                <div class="text-item" style="grid-row:4;">Выживания</div>
                <div class="text-item" style="grid-row:5;">Смерти</div>
                <div class="text-item" style="grid-row:6;">Потерян Безвести</div>
                <div class="text-item" style="grid-row:7;">Количество Рейдов</div>
                <div class="text-item" style="grid-row:8;">Убийства</div>
                <div class="text-item" style="grid-row:9;">Убийства Чвк</div>
                <label class="text-item" for="imageUpload" style="grid-row:10;">Доказательство</label>

                <input type="text" value="@Model.Логин" style="grid-row:2;" name="login"/>
                <input type="password" value="@Model.Пароль" style="grid-row:3;" name="password"/>
                <input type="number" value="@Model.Выживания" style="grid-row:4;" name="survival"/>
                <input type="number" value="@Model.Смерти" style="grid-row:5;" name="death"/>
                <input type="number" value="@Model.ПотерянБезвести" style="grid-row:6;" name="lost"/>
                <input type="number" value="@Model.КоличествоРейдов" style="grid-row:7;" name="count"/>
                <input type="number" value="@Model.Убийства" style="grid-row:8;" name="murders"/>
                <input type="number" value="@Model.УбийстваЧвк" style="grid-row:9;" name="murdersChVK"/>
                <input style="grid-row:10;" required class="d-inline" type="file" id="photo-uploader" accept=".png, .jpg, .jpeg" name="photo" />
                <img class="gameImg" id="uploadingGameImage" width="350" height="200" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Доказательство)" onclick="toggleFullScreenImage(this)" />
                <button type="submit" action="">Сохранить</button>
            </div>
            </form>
        </div>
</section>
<script src="~/js/acc.js">
  
</script>
<script>
    function toggleFullScreenImage(img) {
        const container = document.createElement('div');
        container.classList.add('full-screen-image');

        const fullScreenImg = document.createElement('img');
        fullScreenImg.src = img.src;

        container.appendChild(fullScreenImg);
        document.body.appendChild(container);

        container.addEventListener('click', () => {
            document.body.removeChild(container);
        });
    }
</script>